<!doctype html>
{% load static %}
<html>
<head>
    <link rel="icon" href="{% static 'icon/icon.png' %}">
    <title>{% block title %} Base {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-slate-50">
<header class="bg-blue-100 px-4 sm:px-10 py-4">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Logo -->
        <div class="text-3xl font-bold text-sky-800">
            <a href="{% url 'home' %}" aria-label="Home">LOGO</a>
        </div>
        <!-- Menu (adjust for mobile view) -->
        <nav class="hidden md:flex space-x-8 font-semibold ">
            <a href="{% url 'home' %}" class="text-gray-700 hover:text-sky-800 hover:underline underline-offset-8 {% if request.path == '/' %} text-sky-800 underline underline-offset-8 {% endif %} ">Home</a>
            <a href="#" class="text-gray-700 hover:text-sky-800 hover:underline underline-offset-8 ">Service</a>
            <a href="#" class="text-gray-700 hover:text-sky-800 hover:underline underline-offset-8 ">Category</a>
            <a href="#" class="text-gray-700 hover:text-sky-800 hover:underline underline-offset-8 ">About</a>
        </nav>
        <nav class="hidden md:flex space-x-8 ">
            <a href="/logout" class="flex items-center space-x-2 text-gray-700  hover:text-sky-800">
                <span>LogIn</span>
                <i class="fas fa-user"></i>
            </a>
        </nav>
        <!-- Mobile Menu Icon -->
        <div class="md:hidden">
            <button aria-label="Open Menu" class="text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
                </svg>
            </button>
        </div>
    </div>
</header>


{% block contain %} {% endblock %}


</body>
</html>
